@model IEnumerable<ExactAdm.Application.DTO.UserDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USERID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.USERID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Home", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", "Home", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", "Home", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<span style="font-size: 14.5px;">
    @System.Globalization.DateTimeFormatInfo.CurrentInfo.GetDayName(DateTime.Now.DayOfWeek).ToLower(),
    @DateTime.Now.Day de @System.Globalization.DateTimeFormatInfo.CurrentInfo.GetMonthName(DateTime.Now.Month).ToLower()
    de @DateTime.Now.Year
</span>


